.jewels{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    align-items: center;
}

.jewel{
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

   